<!DOCTYPE html>
<html lang="zh-cmn-Hans-CN">
<head>
<meta charset="utf-8" />
<meta name="keywords" content="PHP,SQL,MYSQL,LICUNCHANG,LNMP,CENTOS,NGINX">
<meta name="description" content="<?php echo $title; ?> - licunchang.com">
<meta property="og:type" content="article" />
<meta property="og:title" content="<?php echo $title; ?>" />
<meta property="og:url" content="<?php echo $url; ?>" />
<meta property="og:description" content="<?php echo $title; ?> - licunchang.com" />
<title><?php echo $title; ?> - LiCunchang's Blog</title>
<link rel="stylesheet" href="http://licunchang.com/static/css/reset.css" />
<link rel="stylesheet" href="http://licunchang.com/static/css/text.css" />
<link rel="stylesheet" href="http://licunchang.com/static/css/960_12_col.css" />
<link rel="stylesheet" href="http://licunchang.com/static/css/demo.css" />
<link rel="stylesheet" href="http://licunchang.com/static/css/markdown.css" />
<link rel="shortcut icon" href="http://licunchang.com/favicon.ico" />
<link rel="icon" href="http://licunchang.com/favicon.ico" />
</head>
<body>

</body>
</html>